<tr id="<%= dom_id(movie) %>">
  <td id="<%= dom_id(movie) %>_title">
    <%= link_to edit_title_path(movie), remote: true do %>
      <%= movie.title %>
    <% end %>
  </td>

  <td id="<%= dom_id(movie) %>_year">
    <%= link_to edit_year_path(movie), remote: true do %>
      <%= movie.year %>
    <% end %>
  </td>

  <td id="<%= dom_id(movie) %>_director">
    <%= link_to edit_movie_director_path(movie), remote: true do %>
      <%= movie.director.name %>
    <% end %>
  </td>

  <td id="<%= dom_id(movie) %>_description">
    <%= link_to edit_description_path(movie), remote: true do %>
      &#9658; Show Description
    <% end %>
  </td>

  <td id="<%= dom_id(movie) %>_duration">
    <%= link_to edit_duration_path(movie), remote: true do %>
      <%= movie.duration %> minutes
    <% end %>
  </td>

  <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
</tr>