<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <%= render "movies/form", movie: Movie.new %>
    </tr>
  </tbody>
  <tbody>
    <% @movies.order(created_at: :desc).each do |movie| %>
      <tr id="<%= dom_id(movie) %>">
        <td id="<%= dom_id(movie) %>_title">
          <%= link_to edit_title_path(movie), remote: true do %>
            <%= movie.title %>
          <% end %>
        </td>
        <td id="<%= dom_id(movie) %>_year"><%= movie.year %></td>
        <td id="<%= dom_id(movie) %>_director"><%= movie.director.name %></td>
        <td id="<%= dom_id(movie) %>_description"><%= movie.description %></td>
        <td id="<%= dom_id(movie) %>_duration"><%= movie.duration %> minutes</td>
        <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' }, remote: true %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
