<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Year</th>
      <th>Director</th>
      <th>Description</th>
      <th>Duration</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <%= form_with(model: Movie.new, local: false, id: "new_movie_form") do |form| %>

    <tbody>
      <tr>
        <td><%=render "movies/form_title", form: form %></td>
        <td><%=render "movies/form_year", form: form %></td>
        <td><%=render "movies/form_director", form: form %></td>
        <td><%=render "movies/form_description", form: form %></td>
        <td><%=render "movies/form_duration", form: form %></td>
        <td class=actions><%= form.submit %></td>
      </tr>
    </tbody>
  <% end %>
  <tbody id="movies">
    <% @movies.order(created_at: :desc).each do |movie| %>
      <%= render movie %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Movie', new_movie_path %>
